<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.png" />
    <title><%= title %></title>
  </head>

  <body class="h-screen flex flex-col" style="background-color: #e8e8e7">
    <header class="flex w-full">
      <nav class="p-3 w-full" style="background-color: #3f3d3d">
        <div class="flex items-center justify-between">
          <!-- Logo -->
          <div class="flex items-center space-x-4 ml-1">
            <a href="/">
              <img
                alt="Logo"
                class="w-12 h-12"
                src="/images/icons/favicon.png"
              />
            </a>
            <a href="/">
              <span class="text-2xl font-bold" style="color: #e8e8e7"
                >Learn<span style="color: #e8e8e7">Lynk</span></span
              >
            </a>
          </div>

          <!-- Links no lado direito com margem -->
          <div class="flex items-center space-x-4 mr-4">
            <!-- Primeiro link -->

            <a
              href="/capivara/listar"
              class="text-white font-semibold text-xl <% if (!logged) { %> hidden <% } %>"
              style="
                border-right: 3px;
                border-color: #e8e8e7;
                border-style: solid;
                padding-right: 1rem;
              "
              >Monitorias</a
            >

            <!-- Segundo link -->
            <a
              href="/capivara/cadastrar"
              class="text-white font-semibold text-xl <% if (!logged) { %> hidden <% } %>"
              style="
                border-color: #e8e8e7;
                border-style: solid;
                padding-right: 1rem;
                padding-left: 1rem;
                margin-left: 0px;
              "
              >Alunos</a
            >

            <!-- Terceiro link -->

            <a
              href="/login"
              class="text-white font-semibold <% if (logged) { %> hidden <% } %>"
              >Login</a
            >

            <!-- Quarto link -->
            <a
              href="/cadastro"
              class="text-white font-semibold <% if (logged) { %> hidden <% } %>"
              >Cadastro</a
            >

            <!-- Dropdown com a foto de perfil -->
            <div
              class="relative group inline-block <% if (!logged) { %> hidden <% } %>"
            >
              <div
                class="rounded-full overflow-hidden"
                style="background-color: #3f3d3d"
              >
                <button
                  class="p-2 rounded-full"
                  style="background-color: #3f3d3d"
                  aria-haspopup="true"
                >
                  <% if(locals.imagem) {%> <% if(locals.imagem.search("https")
                  == -1){%>
                  <img
                    src="/imagens/<%=imagem %>"
                    alt="Foto de perfil"
                    class="w-11 h-11 rounded-full"
                  />
                  <% } else{%>
                  <img
                    src="<%=imagem%>"
                    alt="Foto de perfil"
                    class="w-11 h-11 rounded-full"
                  />
                  <% }%> <% } else{%>
                  <img
                    src="/imagens/userDefault.png"
                    alt="Foto de perfil"
                    class="w-10 h-10 rounded-full"
                  />
                  <%}%>
                </button>
              </div>

              <!-- Conteúdo do dropdown -->
              <ul
                class="absolute hidden mt-2 space-y-2 bg-gray-200 text-gray-800 border border-gray-400 rounded-lg shadow-lg group-hover:block right-0"
              >
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-300"
                    >Perfil</a
                  >
                </li>
                <li>
                  <a
                    href="/caixaDeEntrada"
                    class="block px-4 py-2 hover:bg-gray-300"
                    >Mensagens</a
                  >
                </li>
                <li>
                  <a href="/logout" class="block px-4 py-2 hover:bg-gray-300"
                    >Sair</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <script type="text/javascript" src="/js/layout.js"></script>
    </header>

    <main
      class="flex flex-1 bg-gray-100 overflow-auto"
      style="background-color: #e8e8e75e"
    >
      <%- body %>
    </main>

    <footer
      class="flex text-center"
      style="background-color: #3f3d3d; color: #e8e8e7"
    >
      <div class="container mx-auto text-center">
        <p>
          &copy; <%= new Date().getFullYear() %> Pedro Henrique Rosa Lacerda da
          Silva
        </p>
      </div>
    </footer>
  </body>
</html>
